extends layout

block content
  h1= title
  p Welcome to #{title}
  button.enroll#test test me
  
  iframe(src="https://www.google.com.ar/")

  #data
   input.hola
   input.chau




  script(src="/javascripts/scripts.js")