doctype html
html
  head
    title Saludo Boca
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Kaushan+Script')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Arvo:700')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:300,100')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700')
    link(rel='stylesheet', href='/stylesheets/agency.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')



    script(src='//code.jquery.com/jquery-3.2.1.min.js')
    
  body#page-top.index
    block content